@model LibraryManagementSystem.Models.Book_Register

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book_Register</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Book_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issued_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issued_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Due_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Due_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Returned_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Returned_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fine_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fine_amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book_borrow_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
