@model IEnumerable<LibraryManagementSystem.Models.Book_Register>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (Request.IsAuthenticated)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Book_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Issued_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Due_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Returned_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fine_amount)
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>Action</th>
        }
            </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Book_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Issued_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Due_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Returned_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fine_amount)
        </td>
        @if (Request.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Book_borrow_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Book_borrow_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Book_borrow_id })
            </td>
        }
        </tr>
}

</table>
