@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books_Category.Category_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_price)
            </th>
            @if (Request.IsAuthenticated)
            {
                <th>Action</th>
            }
            </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Books_Category.Category_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_price)
            </td>
           
            <td>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Book_id })

                    @Html.ActionLink("Delete", "Delete", new { id = item.Book_id })
                }

                @Html.ActionLink("Details", "Details", new { id = item.Book_id })
            </td>
           
            </tr>
        }

    </table>
